<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29813060702-u8k4t8s7325kjtfktt1iqe0n590usff4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29813060702-u8k4t8s7325kjtfktt1iqe0n590usff4</string>
	<key>API_KEY</key>
	<string>AIzaSyBTCXHVzzyeWf1DRNxy5_9jWXr6OS4UBrc</string>
	<key>GCM_SENDER_ID</key>
	<string>29813060702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ismailackyurek.FirebaseInstaClone</string>
	<key>PROJECT_ID</key>
	<string>fir-instaclone-525f9</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-instaclone-525f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29813060702:ios:b07c5a8e12a22264ff30cf</string>
</dict>
</plist>